# Audio
sounddevice
soundfile
numpy

# STT
openai-whisper

# Base de datos
psycopg2-binary

# API
fastapi
uvicorn

# Comunicación serie (PEI Motorola)
pyserial

# Telegram
requests

# Configuración
pyyaml
python-dotenv