[Unit]
Description=TETRA Monitor WebRTC Server
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/tetra-monitor/src/streaming/webrtc_server.py
StandardOutput=file:/home/pi/tetra_monitor/logs/tetra-webrtc.log
StandardError=file:/home/pi/tetra_monitor/logs/tetra-webrtc.log
Restart=on-failure
User=pi

[Install]
WantedBy=multi-user.target