[Unit]
Description=TETRA Monitor Daemon
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/tetra_monitor/src/pei_daemon.py
WorkingDirectory=/home/pi/tetra_monitor
StandardOutput=file:/home/pi/tetra_monitor/logs/tetra_monitor.log
StandardError=file:/home/pi/tetra_monitor/logs/tetra_monitor.log
Restart=always
User=pi

[Install]
WantedBy=multi-user.target